<html>
    <head>
        <h2>Employee Table</h2>
         <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 8px;
            }
        </style>
    </head>

    <body>
        <table>
            <tr> 
                <th>Name</th>
                <th>ID</th>
                <th>Salary</th>
                <th>City</th>
            </tr>

            <tr>
                 <td>{{ Name}}</td>
                 <td>{{ ID }}</td>
                 <td>{{ Salary }}</td>
                 <td>{{ City }}</td>
            </tr>
         

        </table>
    </body>
</html>